@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/*Hero Parallax*/
#home-hero{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-hero::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #141618, transparent);
    z-index: 10;
}

#home-hero::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#home-hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#hero-mountain-front, #hero-mountain-middle, #hero-planet {
    z-index: 3;
}

div#hero-text {
    position: relative;
    color: #fff;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#hero-text h2, h3 {
    background: linear-gradient(to right, #db3b4b, #3f80e2);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #141618 !important;
    color: transparent;
    margin: 0px;
}

div#hero-text h2 {
    font-size: 10em;
}

div#hero-text h3 {
    font-size: 2em;
    margin-bottom: 1vh;
    margin-top: 1vh;
}
/*End of Hero Parallax*/

/*Scroll Partners Section*/
:root {
    --marquee-width: 80vw;
    --marquee-height: 20vh;
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

#partners .title-container {
    
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    /* color: #141618; */
    display: flex;
    justify-content: center;
}

#partners .title-container h2 {
    background: linear-gradient(to right, #db3b4b, #3f80e2);
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 0;
    margin-bottom: 0;
}

/* #partners {
    max-height: 75vh;
    overflow-y: hidden;
} */

.partners-container {
    display: flex;
    justify-content: center;
}
.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color: #fff;
    color: #111;
    overflow: hidden;
    position: relative;
}
.marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}
.marquee:before {
    left: 0;
    background: linear-gradient(to right, #fff 0%, transparent 100%);
}
.marquee:after {
    right: 0;
    background: linear-gradient(to left, #fff 0%, transparent 100%);
}
.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}
.marquee-content:hover {
    animation-play-state: paused;
}
@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
    white-space: nowrap;
    /* filter: grayscale(100%); */
}

.marquee-content li img {
    width: 10vw;
    transition: transform 0.2s;
}

img.xlarge-partner {
    transform: scale(0.7);
}

img.xlarge-partner:hover {
    transform: scale(0.85);
}


img.large-partner {
    transform: scale(0.8);
}

img.large-partner:hover {
    transform: scale(1);
}

img.small-partner {
    transform: scale(1.2);
}

img.small-partner:hover {
    transform: scale(1.4);
}

img.medium-partner:hover {
    transform: scale(1.2);
}

@media (max-width: 600px) {
    html { font-size: 12px; }
    :root {
        --marquee-width: 100vw;
        --marquee-height: 16vh;
        --marquee-elements-displayed: 3;
    }
    .marquee:before, .marquee:after { width: 5rem; }
}
/*End of Scroll Partners*/
